<article>
  <% if (isArchive) { %>
    <h2><%- include('crazy-link', {link, text: title}) %></h2>
  <% } else { %>
    <h1><%- title %></h1>
  <% } %>
  <div class='meta'>
    <%= formatDate(date, 'MMMM d, yyyy') %> • <%= type %>
  </div>
  <%- content %>
  <% if (fileExists(`/${slug}.jpg`)) { %>
    <a href='<%= link %>' class='stealth'>
      <%- srcset(`/${slug}.jpg`, 'thumbnail'); %>
    </a>
  <% } %>
</article>
